$breakpoint: 600px;

$pokeBlue: #2a75bb;
$pokeYellow: #ffcb05;

$grass1: #de2146;
$grass2: #21deb9;

$fire1: #ff423f;
$fire2: #ffcf66;

$water1: #1482eb;
$water2: #83e6ff;

$bug1: #060;
$bug2: #60a45b;
