// ------- Imports ------------------------
@use "variables";
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// ------- HTML Formatting ----------------

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Pokemon Solid", sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 20px;
  a,
  a:visited {
    -webkit-text-stroke: 1px variables.$pokeBlue;

    text-decoration: none;
    color: variables.$pokeYellow;
  }

  a:hover {
    -webkit-text-stroke: 1.5px #060;
    color: white;
  }
}

// ------- Header --------------------------

header {
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0px 12px 20px -4px rgba(0, 0, 0, 0.3);

  .title {
    margin: 10px;
    margin-top: 20px;
    padding: 0;

    img {
      height: 60px;
    }
  }

  .navigation {
    .navigation-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        font-size: 15px;
        margin: 2.5px;
      }
    }
  }

  @media (min-width: variables.$breakpoint) {
    .title {
      margin: 0;
      margin-top: 10px;
      padding: 0;

      img {
        height: 90px;
      }
    }

    .navigation {
      margin-top: 20px;
      width: 400px;

      .navigation-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
          font-size: 20px;
        }
      }
    }
  }
}

// ------- Main ----------------------------

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .pokemon-list {
    margin-top: 130px;
    margin-bottom: 0;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    .pokemon-list__card {
      width: 280px;
      height: 150px;

      margin: 20px;

      background-color: #dcdcf5;
      border: 5px solid beige;
      border-radius: 30px;
      box-shadow: 0px 5px 20px -4px #000;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        width: 90px;
        max-height: 120px;
      }

      div {
        p {
          margin: 0;
          margin-bottom: 5px;

          font-size: 12px;
          font-family: "Press Start 2P", cursive;
        }

        .pokemonName {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 15px;
        }
      }
    }

    .pokemon-list__card:hover {
      box-shadow: none;
      cursor: pointer;
    }

    .grass {
      background-color: variables.$grass2;
      border-color: variables.$grass1;
    }

    .fire {
      background-color: variables.$fire2;
      border-color: variables.$fire1;
    }

    .water {
      background-color: variables.$water2;
      border-color: variables.$water1;
    }

    .bug {
      background-color: variables.$bug2;
      border-color: variables.$bug1;
    }
  }
}

// ------- Aside ----------------------------

aside {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .button {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100px;
    height: 100px;
    color: black;
    background-color: transparent;
    font-size: 50px;
    border: none;
    cursor: pointer;
  }
  .previous-button {
    transform: rotateY(180deg);
  }
}

// ------- Footer --------------------------

footer {
  color: white;
  background-color: black;
  -webkit-text-stroke: 1.5px variables.$pokeBlue;

  font-size: 17px;
  width: 100vw;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 10px;
    margin-top: 15px;
    padding: 0;
  }
}
